[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
lasio = "*"
jupyterlab = "*"
geopandas = "*"
seaborn = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.9"
