[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
jupyterlab = "*"
geopandas = "*"
seaborn = "*"
lxml = "*"
tqdm = "*"
# torchtext = "*"
sklearn = "*"
# multimodal-transformers = "*"
toml = "*"
lasio = "*"
welly = "*"
wellpathpy = "*"
stumpy = "*"
tensorflow = "*"
# tensorflow-gpu = "*"

[dev-packages]

[requires]
python_version = "3.8"
